<script type="text/template" id="box-newImage-template">
  <div class="box-newImage">
    <input type="text" class="url" />
    <input type="button" class="get-image" value="Get image" />
    <div class="image-container"></div>
    <input type="button" value="Cancel" class="cancel" />
    <input type="button" class="insert-image" value="Insert" />
  </div>
  <div class="upload">
    <form class="uploadForm" enctype="multipart/form-data" method="post">
      <input type="file" class="userPhotoInput" name="userPhoto" />
      <input type="submit" value="submit" />
    </form>
  </div>
</script>