<script type="text/template" id="top-menu-wizard-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Design Settings
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="medium">Name:</label>

          <div class="control">
            <input class="title" size="8"/>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Canvas Size
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="medium">Width:</label>

          <div class="control">
            <input class="canvas-width" size="4"/>
          </div>
        </div>
        <div class="top-control">
          <label class="medium">Height:</label>

          <div class="control">
            <input class="canvas-height" size="4"/>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Templates
      </div>
      <div class="top-bar-block">
        <div class="top-bar-template-list">
          <div class="top-bar-template-item">
            <div class="top-bar-template-pic"><img src="_devimg/design_a.jpg"></div>
            <div class="top-bar-template-title">Design A</div>
          </div>
          <div class="top-bar-template-item">
            <div class="top-bar-template-pic"><img src="_devimg/design_b.jpg"></div>
            <div class="top-bar-template-title">Design B</div>
          </div>
          <div class="top-bar-template-item">
            <div class="top-bar-template-pic"><img src="_devimg/design_c.jpg"></div>
            <div class="top-bar-template-title">Design C</div>
          </div>
          <div class="top-bar-template-item">
            <div class="top-bar-template-pic"><img src="_devimg/design_d.jpg"></div>
            <div class="top-bar-template-title">Design D</div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <input class="save" value="Save" type="button"/>
      <input class="download" value="Download" type="button"/>
    </li>
  </ul>
</script>
<script type="text/template" id="top-menu-image-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Default
      </div>
      <div class="top-bar-block">
        <input class="add-image" type="button" value="Add Image"/>
      </div>
    </li>
  </ul>
</script>
<script type="text/template" id="top-menu-text-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Default
      </div>
      <div class="top-bar-block">
        <input class="add-text" type="button" value="Add Text"/>
      </div>
    </li>
  </ul>
</script>
<script type="text/template" id="top-menu-decoration-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Add Shapes
      </div>
      <div class="top-bar-block">
        <input class="add-whole" type="button" value="Whole Pic"/>
        <input class="add-rectangle" type="button" value="Rectangle"/>
      </div>
    </li>
  </ul>
</script>
<script type="text/template" id="top-menu-edit-image-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Position
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="small">Left:</label>

          <div class="control">
            <input class="x" size="4"/>
          </div>
        </div>
        <div class="top-control">
          <label class="small">Top:</label>

          <div class="control">
            <input class="y" size="4"/>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Size
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="medium">Width:</label>

          <div class="control">
            <input class="width" size="4"/>
          </div>
        </div>
        <div class="top-control">
          <label class="medium">Height:</label>

          <div class="control">
            <input class="height" size="4"/>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Crop
      </div>
      <div class="top-bar-block">
        <input type="button" class="crop" value="Crop"/>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Rotate
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="middle">Degree:</label>

          <div class="control">
            <input class="rotate" size="4"/>
          </div>
        </div>
      </div>
    </li>
  </ul>
</script>
<script type="text/template" id="top-menu-edit-text-template">
  <ul class="ul-top-bar">
    <li>
      <div class="top-bar-title">
        Position
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label class="small">Left:</label>

          <div class="control">
            <input class="x" size="4"/>
          </div>
        </div>
        <div class="top-control">
          <label class="small">Top:</label>

          <div class="control">
            <input class="y" size="4"/>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Font
      </div>
      <div class="top-bar-block">
        <div class="top-control">
          <label>Font Family:</label>

          <div class="control">
            <input class="fontFamily" size="12"/>
          </div>
        </div>
        <div class="row">
          <div class="top-control">
            <label>Size:</label>

            <div class="control">
              <input class="fontSize" size="2"/>
            </div>
          </div>
          <div class="top-control">
            <label>Color:</label>

            <div class="control">
              <input class="color" size="7"/>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="top-bar-title">
        Text
      </div>
      <div class="top-bar-block">
        <div class="text-container">
          <textarea class="text"></textarea>
        </div>
      </div>
    </li>
  </ul>
</script>