@keyframes blinking {
  10% {
    opacity: 1;
  }
  61% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
}
@-webkit-keyframes blinking {
  10% {
    opacity: 1;
  }
  61% {
    opacity: 0.1;
  }
  90% {
    opacity: 1;
  }
}
.blinking {
  animation: blinking 3s infinite;
  -webkit-animation: blinking 3s infinite;
}
.blinking2 {
  animation: blinking 3s infinite;
  -webkit-animation: blinking 3s infinite;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  /* Safari and Chrome */

}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 15s infinite linear;
  -webkit-animation: rotating 15s infinite linear;
}
#loader {
  position: absolute;
  z-index: 1000000;
  background: url('../images/paper_fibers.png') repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#loader .main-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -264px 0 0 -450px;
  width: 900px;
  height: 528px;
  background: url('../images/splash-bg.png');
}
#loader .status {
  position: absolute;
  color: #dae1dc;
  font-size: 12px;
  margin: 290px 0 0 250px;
  width: 400px;
  text-align: center;
  animation: blinking 3s infinite;
  -webkit-animation: blinking 3s infinite;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  /* Safari and Chrome */

}
#loader .ink {
  position: absolute;
  width: 900px;
  height: 528px;
  background: url('../images/splash-ink.png');
  animation: blinking 3s infinite;
  -webkit-animation: blinking 3s infinite;
}
#loader .flower1 {
  position: absolute;
  margin: 140px 0 0 70px;
  width: 450px;
  height: 450px;
  background: url('../images/splash-flower1.png') center no-repeat;
  animation: rotating 15s infinite linear;
  -webkit-animation: rotating 15s infinite linear;
}
#loader .flower2 {
  position: absolute;
  margin: -50px 0 0 390px;
  width: 331px;
  height: 331px;
  background: url('../images/splash-flower2.png') center no-repeat;
  animation: rotating 15s infinite linear;
  -webkit-animation: rotating 15s infinite linear;
}
body,
div,
a,
ul,
li,
img {
  margin: 0;
  padding: 0;
  border: none;
}
.pull-right {
  float: right;
}
.small-duck-button {
  display: block;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  color: #FFFFFF;
  background: #858280;
  height: 12px;
  padding: 0 8px;
  border-radius: 6px;
  text-align: center;
}
.small-duck-button:hover {
  background: #555250;
}
label.small {
  width: 25px;
}
label.medium {
  width: 40px;
}
.row > * {
  display: inline-block;
}
/***
Spectrum Colorpicker v1.0.1
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/
.sp-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 2147483647;
  overflow: hidden;
}
.sp-container.sp-flat {
  position: relative;
}
/* http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.sp-top {
  position: relative;
  width: 100%;
  display: inline-block;
}
.sp-top-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sp-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
}
.sp-hue {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84%;
  height: 100%;
}
.sp-fill {
  padding-top: 80%;
}
.sp-sat,
.sp-val {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sp-alpha-enabled .sp-top {
  margin-bottom: 18px;
}
.sp-alpha-enabled .sp-alpha {
  display: block;
}
.sp-alpha-handle {
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 6px;
  left: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  opacity: .8;
}
.sp-alpha {
  display: none;
  position: absolute;
  bottom: -14px;
  right: 0;
  left: 0;
  height: 8px;
}
.sp-alpha-inner {
  border: solid 1px #333;
}
/* Don't allow text selection */
.sp-container,
.sp-replacer,
.sp-preview,
.sp-dragger,
.sp-slider,
.sp-alpha,
.sp-alpha-handle,
.sp-container.sp-dragging .sp-input,
.sp-container button {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.sp-container.sp-input-disabled .sp-input-container {
  display: none;
}
.sp-container.sp-buttons-disabled .sp-button-container {
  display: none;
}
.sp-palette-only .sp-picker-container {
  display: none;
}
.sp-palette-disabled .sp-palette-container {
  display: none;
}
.sp-initial-disabled .sp-initial {
  display: none;
}
/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81');
}
.sp-val {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to top, #000000, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000');
}
.sp-hue {
  background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -ms-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}
/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
 */
.sp-1 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00');
}
.sp-2 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00');
}
.sp-3 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff');
}
.sp-4 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff');
}
.sp-5 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff');
}
.sp-6 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000');
}
/* Clearfix hack */
.sp-cf:before,
.sp-cf:after {
  content: "";
  display: table;
}
.sp-cf:after {
  clear: both;
}
.sp-cf {
  *zoom: 1;
}
/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
  .sp-color {
    right: 40%;
  }
  .sp-hue {
    left: 63%;
  }
  .sp-fill {
    padding-top: 60%;
  }
}
.sp-dragger {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
  background: #000;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.sp-slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 3px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  background: white;
  opacity: .8;
}
/* Basic display options (colors, fonts, global widths) */
.sp-container {
  /* border-radius: 0; */

  /* background-color: #ECECEC; */

  background: #FFFFFF;
  /* border: solid 1px #f0c49B; */

  border: solid 1px #C5C2C0;
  border-radius: 9px;
  box-shadow: 0 0 8px #C5C2C0;
  padding: 0;
}
.sp-container,
.sp-container button,
.sp-container input,
.sp-color,
.sp-hue {
  font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.sp-top {
  margin-bottom: 3px;
}
.sp-color,
.sp-hue {
  border: solid 1px #666;
}
/* Input */
.sp-input-container {
  float: right;
  width: 100px;
  margin-bottom: 4px;
}
.sp-initial-disabled .sp-input-container {
  width: 100%;
}
.sp-input {
  font-size: 12px !important;
  border: 1px inset;
  padding: 4px 5px;
  margin: 0;
  width: 100%;
  background: transparent;
  border-radius: 3px;
  color: #222;
}
.sp-input:focus {
  border: 1px solid orange;
}
.sp-input.sp-validation-error {
  border: 1px solid red;
  background: #fdd;
}
.sp-picker-container,
.sp-palette-container {
  float: left;
  position: relative;
  padding: 10px;
  padding-bottom: 300px;
  margin-bottom: -290px;
}
.sp-picker-container {
  width: 172px;
  /* border-left: solid 1px #fff; */

}
/* Palettes */
.sp-palette-container {
  border-right: solid 1px #ccc;
}
.sp-palette .sp-thumb-el {
  display: block;
  position: relative;
  float: left;
  width: 24px;
  height: 15px;
  margin: 3px;
  cursor: pointer;
  border: solid 2px transparent;
}
.sp-palette .sp-thumb-el:hover,
.sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: orange;
}
.sp-thumb-el {
  position: relative;
}
/* Initial */
.sp-initial {
  float: left;
  border: solid 1px #333;
}
.sp-initial span {
  width: 30px;
  height: 25px;
  border: none;
  display: block;
  float: left;
  margin: 0;
}
/* Buttons */
.sp-button-container {
  float: right;
}
/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
  /* edited for moInk */

  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 0 10px;
  height: 18px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  border: 1px solid #C5C2C0;
  border-radius: 9px;
  background: #FFF;
  color: #C5C2C0;
  vertical-align: middle;
}
.sp-replacer:hover,
.sp-replacer.sp-active {
  border: 1px solid #959290;
  color: #858280;
}
.sp-dd {
  padding: 2px 0;
  height: 16px;
  line-height: 16px;
  float: left;
  font-size: 10px;
}
.sp-preview {
  position: relative;
  width: 25px;
  height: 14px;
  margin: 2px 5px 2px 0;
  float: left;
  z-index: 0;
}
.sp-palette {
  *width: 220px;
  max-width: 220px;
}
.sp-palette .sp-thumb-el {
  width: 16px;
  height: 16px;
  margin: 2px 1px;
  border: solid 1px #d0d0d0;
}
.sp-container {
  padding-bottom: 0;
}
/* Buttons: http://hellohappy.org/css3-buttons/ */
.sp-container button {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding: 5px 4px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  vertical-align: middle;
}
.sp-container button:hover {
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
.sp-container button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
.sp-cancel {
  font-size: 11px;
  color: #d93f3f !important;
  margin: 0;
  padding: 2px;
  margin-right: 5px;
  vertical-align: middle;
  text-decoration: none;
}
.sp-cancel:hover {
  color: #d93f3f !important;
  text-decoration: underline;
}
.sp-palette span:hover,
.sp-palette span.sp-thumb-active {
  border-color: #000;
}
.sp-preview,
.sp-alpha,
.sp-thumb-el {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=);
}
.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=);
}
#moBoxBg {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 10010;
}
#moBox {
  position: absolute;
  left: 50%;
  top: 30px;
  z-index: 10011;
  background: url('../images/dust.png');
  width: 500px;
  height: 300px;
  margin-left: -250px;
  border: 1px solid #c5c2c0;
  box-shadow: 0 0 10px #a5a2a0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
body {
  background: url('../images/paper_fibers.png');
  font-family: 'Nunito';
}
#designer {
  position: absolute;
  width: 100%;
  height: 100%;
}
#panel {
  position: absolute;
  background: url('../images/noisy_grid.png');
  box-shadow: 0 0 6px #AAA;
}
#top-menu {
  position: absolute;
  width: 100%;
  height: 30px;
  background: url('../images/top-menu.png');
  font-size: 14px;
  z-index: 10001;
}
#top-menu ul li {
  display: block;
  list-style: none;
  float: left;
}
#top-menu a {
  display: block;
  height: 30px;
  line-height: 34px;
  color: #555250;
  text-decoration: none;
  padding: 0 20px;
}
#top-menu a:hover {
  background: url('../images/top-menu-light.png');
}
#top-menu a.selected {
  background: url('../images/top-menu-light.png');
  border-left: 1px solid #858280;
  border-right: 1px solid #858280;
  padding: 0 19px;
}
#top-menu-object-list {
  width: 101px;
  text-align: center;
}
#object-list {
  position: absolute;
  width: 140px;
  height: 100%;
  right: 0;
  background: url('../images/dust_bright.png');
  border-left: 1px solid #DDD;
  box-shadow: 0 0 6px #CCC;
}
#ul-object-list {
  padding-top: 30px;
}
#ul-object-list li {
  list-style: none;
  margin-top: -1px;
}
.object-list-item {
  width: 100%;
  height: 30px;
  border: 1px solid #DDD;
  border-left: none;
  border-right: none;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
}
.object-list-item .object-list-icon {
  position: absolute;
  margin: 7px;
  height: 16px;
  width: 16px;
  cursor: move;
}
.object-list-item.image .object-list-icon {
  background: url('../images/decoration_16.png') center no-repeat;
}
.object-list-name {
  font-size: 16px;
  font-family: 'Nunito light';
  color: #555250;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 5px 0 25px;
  padding: 0 0 0 5px;
  cursor: default;
}
.selected .object-list-name:hover {
  border-radius: 10px;
  cursor: text;
  background: #A5A2A0;
  color: #F5F2F0;
}
.object-list-item:hover,
.object-list-item.hover {
  background: url('../images/object-list-selected.png');
}
.object-list-item.selected {
  height: 40px;
  background: url('../images/object-list-selected.png');
}
.object-list-item.dragging {
  background: url('../images/object-list-selected.png');
}
.object-list-item.selected .object-list-settings {
  display: block;
  margin: 1px 0 0 15px;
}
.object-list-settings {
  display: none;
}
.object-list-settings a {
  float: left;
  margin-left: 10px;
  display: block;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  color: #FFFFFF;
  background: #858280;
  height: 12px;
  padding: 0 8px;
  border-radius: 6px;
  text-align: center;
}
.object-list-settings a:hover {
  background: #555250;
}
.object-list-hide {
  width: 25px;
}
.object-list-delete {
  width: 30px;
}
.edit-item-name {
  font-size: 16px;
  font-family: 'Nunito light';
  color: #555250;
  line-height: 14px;
  height: 20px;
  cursor: text;
  border: none;
  position: absolute;
  margin: -20px 0 0 25px;
  border-radius: 10px;
  padding: 0 0 0 5px;
  width: 105px;
  outline: none;
  display: none;
}
#top-bar {
  position: absolute;
  top: 30px;
  height: 80px;
  background: url('../images/dust_bright.png');
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 6px #CCC;
}
.ul-top-bar li {
  list-style: none;
  height: 80px;
  display: table-cell;
  vertical-align: top;
  padding: 0 4px;
}
.top-bar-title {
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #555250;
  background: url("../images/top-bar-title.png") bottom center no-repeat;
}
.top-bar-block {
  height: 54px;
  font-size: 13px;
  font-family: 'Nunito light';
  color: #555250;
  padding: 3px 0;
}
.top-bar-block input,
.top-bar-block select,
.top-bar-block textarea {
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  color: #555250;
  outline: none;
}
.top-control {
  height: 26px;
  padding: 0 8px;
}
.row > .top-control {
  padding: 0;
}
.row > .top-control:first-child {
  padding-left: 8px;
}
.row > .top-control:last-child {
  padding-right: 8px;
}
.top-control label {
  height: 26px;
  line-height: 26px;
  display: inline-block;
}
.top-control .control {
  margin: 3px 5px 3px 0;
  display: inline-block;
  height: 20px;
}
.control input[type='text'] {
  margin: 0;
  height: 18px;
  padding: 0 10px;
  border: 1px solid #CCC;
  border-radius: 9px;
}
.control input[type='text']:hover,
.control input[type='text']:focus {
  border: 1px solid #999;
}
.control select {
  margin-top: 5px;
  margin: 0;
  height: 18px;
  padding: 0;
  border: 1px solid #C5C2C0;
}
.top-button {
  display: block;
  float: left;
  height: 44px;
  width: 44px;
  margin: 4px 2px;
  border-radius: 6px;
  text-indent: -9999px;
  background: url(../images/top-button-bg.png);
  border: 1px solid #CCC;
}
.top-button:hover {
  background: #FFF;
  border: 1px solid #999;
}
.top-button span {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 6px;
}
.top-button.portrait span {
  background: url(../images/top-button-portrait.png);
}
.top-button.landscape span {
  background: url(../images/top-button-landscape.png);
}
.text-container {
  padding: 4px;
}
.text-container .text {
  font-family: 'Nunito' !important;
  height: 44px;
  margin: 0;
  padding: 0 4px;
  border: 1px solid #C5C2C0;
  border-radius: 9px;
  width: 280px;
  resize: none;
}
.box-newImage .image-container canvas {
  max-height: 200px;
}
/*
.top-bar-template-item{
  height: 52px;
  float: left;
  padding: 1px 2px;
  cursor: pointer;
}

.top-bar-template-item:hover{
  background: #C5C2C0;
}

.top-bar-template-pic{
  height: 40px;
}

.top-bar-template-pic img{
  height: 40px;
}

.top-bar-template-title{
  font-size: 11px;
  color: #555250;
  text-align: center;
  height: 12px;
  line-height: 12px;
}
*/#object-hover {
  position: absolute;
  border: 1px dashed #669966;
  z-index: 1000;
}
#object-selected {
  position: absolute;
  border: 1px solid #669966;
  background: rgba(255, 255, 255, 0);
  z-index: 1000;
}
#object-selected {
  cursor: move;
}
.panel-handler {
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
.corner-panel-handler {
  border-radius: 4px;
  z-index: 100010;
}
#object-selected .top-handler {
  left: 50%;
  cursor: ns-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
#object-selected .right-handler {
  top: 50%;
  right: 0px;
  cursor: ew-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
#object-selected .bottom-handler {
  left: 50%;
  bottom: 0px;
  cursor: ns-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
#object-selected .left-handler {
  top: 50%;
  cursor: ew-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
#object-selected .right-top-handler {
  right: 0px;
  cursor: nesw-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-radius: 4px;
  z-index: 100010;
}
#object-selected .right-bottom-handler {
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-radius: 4px;
  z-index: 100010;
}
#object-selected .left-top-handler {
  cursor: nwse-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-radius: 4px;
  z-index: 100010;
}
#object-selected .left-bottom-handler {
  bottom: 0px;
  cursor: nesw-resize;
  position: absolute;
  pointer-events: all;
  background: #99cc99;
  border: 1px solid #336633;
  opacity: 1;
  margin: -5px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border-radius: 4px;
  z-index: 100010;
}
/*
 * Cropper Handler
 */
#object-cropper {
  position: absolute;
  border: 1px solid #333;
  z-index: 1010;
}
.cropper-handler {
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
}
.corner-cropper-handler {
  z-index: 100010;
}
#object-cropper .top-handler {
  left: 50%;
  margin-left: -4px;
  cursor: ns-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
}
#object-cropper .right-handler {
  top: 50%;
  margin-top: -4px;
  right: 0px;
  cursor: ew-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
}
#object-cropper .bottom-handler {
  left: 50%;
  margin-left: -4px;
  bottom: 0px;
  cursor: ns-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
}
#object-cropper .left-handler {
  top: 50%;
  margin-top: -4px;
  cursor: ew-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
}
#object-cropper .right-top-handler {
  right: 0px;
  cursor: nesw-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100010;
}
#object-cropper .right-bottom-handler {
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100010;
}
#object-cropper .left-top-handler {
  cursor: nwse-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100010;
}
#object-cropper .left-bottom-handler {
  bottom: 0px;
  cursor: nesw-resize;
  position: absolute;
  pointer-events: all;
  background: #333;
  opacity: 1;
  width: 8px;
  height: 8px;
  z-index: 100010;
}
