/*
.top-bar-template-item{
  height: 52px;
  float: left;
  padding: 1px 2px;
  cursor: pointer;
}

.top-bar-template-item:hover{
  background: #C5C2C0;
}

.top-bar-template-pic{
  height: 40px;
}

.top-bar-template-pic img{
  height: 40px;
}

.top-bar-template-title{
  font-size: 11px;
  color: #555250;
  text-align: center;
  height: 12px;
  line-height: 12px;
}
*/