#top-bar{
  position: absolute;
  top: 30px;
  height: 80px;
  background: url('../images/dust_bright.png');
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 6px #CCC;
}

.ul-top-bar li{
  list-style: none;
  height: 80px;
  display: table-cell;
  vertical-align: top;
  padding: 0 4px;
}

.top-bar-title{
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #555250;
  background: url("../images/top-bar-title.png") bottom center no-repeat;
}

.top-bar-block{
  height: 54px;
  font-size: 13px;
  font-family: 'Nunito light';
  color: #555250;
  padding: 3px 0;
}

.top-bar-block input,
.top-bar-block select,
.top-bar-block textarea{
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  color: #555250;
  outline: none;
}

.top-control{
  height: 26px;
  padding: 0 8px;
}

.row>.top-control{
  padding: 0;
}

.row>.top-control:first-child{
  padding-left: 8px;
}

.row>.top-control:last-child{
  padding-right: 8px;
}

.top-control label{
  height: 26px;
  line-height: 26px;
  display: inline-block;
}

.top-control .control{
  margin: 3px 5px 3px 0;
  display: inline-block;
  height: 20px;
}

.control {
  input[type='text'] {
    margin: 0;
    height: 18px;
    padding: 0 10px;
    border: 1px solid #CCC;
    border-radius: 9px;
    &:hover, &:focus {
      border: 1px solid #999;

    }
  }

  input[type='checkbox'] {

  }

  select{
    margin-top: 5px;
    margin: 0;
    height: 18px;
    padding: 0;
    border: 1px solid #C5C2C0;
  }
}

.top-button {
  display: block;
  float: left;
  height: 44px;
  width: 44px;
  margin: 4px 2px;
  border-radius: 6px;
  text-indent: -9999px;
  background: url(../images/top-button-bg.png);
  border: 1px solid #CCC;

  &:hover{
    background: #FFF;
    border: 1px solid #999;
  }

  span {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }

  &.portrait span {
     background: url(../images/top-button-portrait.png);
   }

  &.landscape span{
    background: url(../images/top-button-landscape.png);
  }
}