<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Reset password - moInk</title>
  <% include ../public/stylesheets.ejs %>
  <link rel='stylesheet' href='/stylesheets/single-page.css'/>
</head>
<div id="single-page">
  <div class="row">
    <div class="span2">
      <a class="logo" href="/">moInk</a>
    </div>
    <div class="span7">
      <div class="pull-right">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span7">
      <form id="user-info">
        <input type="hidden" id="id" name="id" value="<%=id%>" />
        <input type="hidden" id="key" name="key" value="<%=key%>" />
        <legend>Reset password</legend>
        <div class="row">
          <div class="span4">
            <input type="password" id="password" name="password" placeholder="New Password" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <input type="submit" id="submit" class="btn" value="Reset" />
            <span class="help-inline"></span>
          </div>
        </div>
      </form>
      <div id="alert" class="alert hidden"></div>
    </div>
  </div>
</div>
<% include ../public/javascripts.ejs %>
<script src="/libraries/md5.js"></script>
<script>
  var submitForm = function () {
    $('#alert').html('Sending data...').removeClass('hidden');
    if ($('#password').val() != $('#password2').val()) {
      $('#alert').html('Two passwords are different.').addClass('alert-error');
      return false;
    }
    var userData = {};
    userData['id'] = $('#id').val();
    userData['key'] = $('#key').val();
    if ($('#password').val() && $('#password').val() != '') {
      userData['password'] = hex_md5($('#password').val());
    }
    $.ajax('/user/reset-password', {
      data: userData,
      type: 'POST',
      success: function(res){
        if(res.err){
          $('#alert').html(res.msg || 'Unknown error.').removeClass('alert-success').addClass('alert-error');
        }else{
          console.log(res);
          $('#alert').removeClass('alert-error').addClass('alert-success')
            .html('Your password is reset. Please <a href="/user/login">login</a>.');
        }
      }
    });

  };

  $(function(){
    $('#user-info').on('submit', function (e) {
      e.preventDefault();
      submitForm();
    });
  });
</script>
</body>
</html>