<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Sign up - moInk</title>
  <% include ../public/stylesheets.ejs %>
  <% include ../public/browsers.ejs %>
</head>
<body>
<div id="single-page">
  <div class="row">
    <div class="span2">
      <a class="logo" href="/">moInk</a>
    </div>
    <div class="span7">
      <div class="pull-right">
        Already have an account? <a href="/user/login" class="btn">Login</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <form id="user-info">
        <legend>Sign up to moInk</legend>
        <div class="row">
          <div class="span4">
            <input type="text" id="firstname" placeholder="First name" class="input-block-level" />
          </div>
          <div class="span3">
            <input type="text" id="lastname" placeholder="Last Name" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <input type="text" id="email" placeholder="Email" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <input type="password" id="password" placeholder="Password" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <input type="password" id="password2" placeholder="Re-enter password" class="input-block-level" />
          </div>
        </div>
        <div class="row">
          <div class="span7">
            <input type="button" id="submit" class="btn" value="Sign up!" />
            <span class="help-inline">Signing up indicates you agree to the <a href="#">terms of use</a>.</span>
          </div>
        </div>
      </form>
    </div>
    <div class="span4">
    </div>
  </div>
</div>
<% include ../public/javascripts.ejs %>
<script src="/libraries/md5.js"></script>
<script src="/javascripts/signup.js"></script>
</body>
</html>