h2 {
  font-size: 26px;
  font-weight: normal;
  margin-top: 20px;
  color: #555;
  line-height: 30px;
}
h3 {
  font-size: 22px;
  font-weight: normal;
  color: #888;
  line-height: 30px;
}
#about-focus {
  box-shadow: 0 0 8px #ddd3c7;
}
.about-sidebar {
  margin: 20px 0 20px 20px;
  padding: 8px 0;
}
