<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Explore - moInk</title>
  <% include ../public/stylesheets.ejs %>
  <link rel='stylesheet' href='/stylesheets/explore.css'/>
</head>
<body>
<% var currentPage = 'explore'; %>
<% include ../public/header.ejs %>
<div id="main" class="container">
  <div class="header-offset"></div>
  <div id="gallery">
    <div class="frame">
      <dic class="buttons">
        <a class="to-left" href="#gallery">&lt;</a>
        <a class="to-right" href="#gallery">&gt;</a>
        <a class="view-design" href="javascript:">View Design</a>
      </dic>
    </div>
    <div class="info">
      <a class="to-left" href="#gallery">&lt;</a>
      <a class="to-right" href="#gallery">&gt;</a>
      <div class="title">title</div>
      <div class="author">author</div>
    </div>
    <div class="list">
      <div class="image-list"></div>
    </div>
  </div>
</div>
<script>
  var design_list = [
    {id: '514031760c9a3bc614000003', title: 'Cats', author: 'author'}
  ];
</script>
<% include ../public/footer.ejs %>
<% include ../public/javascripts.ejs %>
<script src="/javascripts/explore.js"></script>
</body>
</html>