<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>moInk</title>
  <% include ../public/stylesheets.ejs %>
  <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<% var currentPage = 'index'; %>
<% include ../public/header.ejs %>
<div id="focus">
</div>
<% include ../public/javascripts.ejs %>
</body>
</html>