<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>moInk</title>
  <% include ../public/stylesheets.ejs %>
  <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<% var currentPage = 'index'; %>
<% include ../public/header.ejs %>
<div id="focus">
  <div id="designer-demo-view" class="container">
    <div class="designer-demo-container">
      <h1>It is the artist's business to create sunshine when the sun fails.</h1>
      <div class="quote-author">Romain Rolland (1866 - 1944)</div>
      <hr />
      <a href="/explore" class="designer-demo-button btn btn-block">Try moInk designer demos</a>
      <h2>to experience design<br />in a new, easier way.</h2>
    </div>
    <a href="javascript:" class="photo-info-symbol">Information</a>
    <div class="photo-info">Photograph by Xu Wei, co-founder of Postiee.com</div>
  </div>
</div>
<% include ../public/footer.ejs %>
<% include ../public/javascripts.ejs %>
</body>
</html>