<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>moInk Designer</title>
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<div id="loading">
  Loading designer...
</div>
<script>
  var designId = '<%-design._id%>';
</script>
<script src="js/libs/jquery.js"></script>
<script src="js/plugins/jquery.loadScript.js"></script>
<script src="js/initialize.js"></script>
</body>
</html>