<!--[if lt IE 9]>
<script src="/libraries/html5shiv.js"></script>
<div id="browser-not-support" class="container">
  <iframe src="/pages/supported-browsers.html" frameborder="0" width="940" height="300"></iframe>
</div>
<![endif]-->