<%
  var explore = '', designer = '';
  if(currentPage === 'explore'){
    explore = ' current';
  }
  if(currentPage === 'designer'){
    designer = ' current';
  }
%>
<header>
  <div class="container">
    <a class="logo" href="/">moInk</a>
    <div class="sep"></div>
    <div class="explore nav-button<%-explore%>"><div class="hover"></div><a href="/explore">Explore</a></div>
    <div class="sep"></div>
    <div class="designer nav-button<%-designer%>"><div class="hover"></div><a href="/user/collection">Designer</a></div>
    <div class="sep"></div>
    <div id="user-box">
      Wait lah...
    </div>
  </div>
</header>
<script type="text/template" id="user-box-log-in">
  <div class="login-box">
    <div><a href="/user/signup" class="btn btn-block">Sign up</a></div>
    <div><a href="/user/login" class="btn btn-block">Login</a></div>
  </div>
</script>
<script type="text/template" id="user-box-logged-in">
  <div class="user-box">
    <div>Hi, </span><span class="user-name"></span>! </div>
    <div class="btn-group">
      <a href="/user/settings" class="btn btn-small">Settings</a>
      <a href="/user/logout" class="btn btn-small">Logout</a>
    </div>
  </div>
</script>